<ul id="lists">
  <% @lists.each do |list| -%>
    <% content_tag_for(:li, list) do %>
      <h2>
        <span class="action drag">Drag</span>
        <span class="name"><%=h list.name %></span>
        <span class="delete_link"><%= link_to 'Delete', list_path(list), :id => "delete_list_#{list.id}", :class => 'action delete' %></span>
      </h2>
      <ul id="list_<%= list.id %>_tasks" class="tasks">
        <% list.tasks.each do |task| %>
          <% content_tag_for(:li, task) do %>
            <% form_for(task) do |f| %>
              <span class="action drag">Drag</span>
              <%= f.check_box :done, :id => "#{dom_id(task)}_done" %>
              <span class="name"><%= h(task.name) %></span>
              <span class="delete_link"><%= link_to 'Delete', task_path(task), :id => "delete_task_#{task.id}", :class => 'action delete' %></span>
            <% end -%>
          <% end %>
        <% end -%>
      </ul>  
      <p><%= link_to "Add task", new_task_path, :id => "#{dom_id(list)}_add_task", :class => 'add_task' %></p>
    <% end %>
  <% end -%>  
</ul>  
<p><%= link_to "Add list", new_list_path, :id => 'add_list' %></p>